<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
	<title>登陆成功</title>
</head>
<body>
	<p>姓名：<?php echo $name ?></p>
	<p>班级：<?php echo $class ?></p>
	<p>学号：<?php echo $No ?></p>
	<p>专业：<?php echo $major ?></p>
	<p>课程：<?php echo $course ?></p>
	<p>教师：<?php echo $teacher ?></p>
	<p>签到状态：成功</p>
</body>
</html>