<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /><!--设置手机适应屏幕-->
    <title>老师查看请假情况页面</title>
  <script type="text/javascript" src="/CodeIgniter-3.1.0/Script/jquery.js"></script>
     <script type="text/javascript" src="/CodeIgniter-3.1.0/Script/teacher_ask.js"></script>
        <link href="/CodeIgniter-3.1.0/css/public.css" rel="stylesheet">
    <link href="/CodeIgniter-3.1.0/css/teacher_ask.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <header id="header" class="dark"><h2>学生请假情况表</h2></header>
         <div class="content">
        <div class="notice">
            <p> 某某老师，您好！                当前时间为：</p>
        </div>
        <form action="" method="post">
            <div class="main_form">
                <div class="form_option">
                    <label class="form_lable">请选择查看方式:<span class="error">*</span></label>
                    <select id="Select1" class="select_1">
                        <option value="0">请选择</option>
                        <option value="1">课程名称查询</option>
                        <option value="2">课程日期查询</option>
                    </select>
                </div>
                <div class="form_class">
                    <label class="form_lable">请选择查看班级:<span class="error">*</span></label>
                    <select id="Select2" class="select_1">
                        <option value="0">请选择</option>
                        <option value="1">班级1</option>
                        <option value="2">班级2</option>
                    </select>
                </div>
                <div>
                    <input id="Submit1" class="submit1" type="submit" value="提交" />
                </div>
            </div>
        </form>
    </div>
        </div>
</body>
</html>
